appdirs==1.4.4
autopep8==1.5.7
bidict==0.21.2
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.1
dnspython==1.16.0
eventlet==0.31.1
Flask==2.0.1
Flask-Compress==1.10.1
Flask-SocketIO==5.1.1
greenlet==1.1.1
h11==0.12.0
idna==3.3
importlib-metadata==4.6.4
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
psutil==5.8.0
pycodestyle==2.7.0
pyee==8.2.2
pyppeteer==0.2.6
python-engineio==4.2.1
python-socketio==5.4.0
PyYAML==5.4.1
requests==2.26.0
simple-websocket==0.3.0
six==1.16.0
toml==0.10.2
tqdm==4.62.1
urllib3==1.26.6
websocket-client==1.2.1
websockets==9.1
Werkzeug==2.0.1
wsproto==1.0.0
zipp==3.5.0
