bidict==0.21.3
certifi==2021.10.8
charset-normalizer==2.0.7
idna==3.3
netifaces==0.10.6
python-engineio==4.2.1
python-socketio==5.4.1
requests==2.26.0
six==1.16.0
socketio==0.2.1
socketIO-client==0.7.2
urllib3==1.26.7
websocket-client==1.2.1
